In [1]:
import pandas as pd

In [2]:
import numpy as np

In [36]:
data = pd.read_csv('data/math/math_articles_10388', sep='\t', header=None)

In [40]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10388 entries, 0 to 10387
Data columns (total 1 columns):
0    10387 non-null object
dtypes: object(1)
memory usage: 81.2+ KB

In [25]:
data.head()

                    0
0       Inverse curve
1               Hypot
2   Convergence tests
3       Dupin cyclide
4  Total differential

In [35]:
data['clean'] = data.loc[:,0].apply(lambda x: str(x).replace('_', ' '))

In [41]:
new = data.loc[:,0].map(lambda x: str(x).replace('_',' '))

In [42]:
new.to_csv('data/math/math_articles_10388', sep='\t', encoding='utf-8', index=False)